HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.flattened-pom.xml

# IntelliJ IDEA
.idea
!.idea/icon.png
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Vibe Coding
.workbuddy/*
!.workbuddy/skills/
!.workbuddy/skills/**
!.workbuddy/.mcp.json
.codebuddy/*
!.codebuddy/skills/
!.codebuddy/skills/**
!.codebuddy/.mcp.json

# Temp
*.log
*.log.gz
*.logs
*.cache
*.diff
*.patch
*.tmp