<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.charles7c.cnadmin.system.mapper.MenuMapper">
    <select id="selectPermissionsByUserId" resultType="java.lang.String">
        SELECT DISTINCT m.`permission`
        FROM `sys_menu` m
                 LEFT JOIN `sys_role_menu` rm ON rm.`menu_id` = m.`menu_id`
                 LEFT JOIN `sys_role` r ON r.`role_id` = rm.`role_id`
                 LEFT JOIN `sys_user_role` ur ON ur.`role_id` = rm.`role_id`
                 LEFT JOIN `sys_user` u ON u.`user_id` = ur.`user_id`
        WHERE u.`user_id` = #{userId}
          AND m.`menu_type` IN (2, 3)
          AND m.`status` = 1
          AND r.`status` = 1
    </select>
</mapper>