<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.continew.admin.system.mapper.FileMapper">
    <update id="deleteWithoutRecycleBin">
        UPDATE sys_file
        SET deleted = id, update_user = #{userId}, update_time = #{updateTime}
        WHERE id IN
        <foreach item="item" index="index" collection="ids" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>
</mapper>