<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.charles7c.cnadmin.tool.mapper.GenConfigMapper">
    <select id="selectRecommendAuthor" resultType="java.lang.String">
        SELECT `author`
        FROM `gen_config`
        WHERE #{lessThanDate} > `create_time`
        GROUP BY `author`
        ORDER BY COUNT(*) DESC
        LIMIT 1
    </select>
</mapper>